<div class="container my-3">
<div class="row">
    <div class="col-4">
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" routerLink="/about">Me</a>
        <a class="list-group-item list-group-item-action" routerLink="/about">Anas Bilal</a>
        <a class="list-group-item list-group-item-action" routerLink="/about">Badar Bilal</a>
        <a class="list-group-item list-group-item-action" routerLink="/about">Arsal Saim</a>
      </div>
    </div>
    <div class="col-8">
      <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" 
      class="scrollspy-example" tabindex="0">
        <h4 id="list-item-1">ME</h4>
        <p>What is Bootstrap used for?</p>
        <h4 id="list-item-2">Anas Bilal</h4>
        <p>Is Bootstrap HTML or CSS?</p>
        <h4 id="list-item-3">Badar Bilal</h4>
        <p>Do I need JavaScript for Bootstrap?</p>
        <h4 id="list-item-4">Arsal Saim</h4>
        <p>Is Bootstrap free or paid?</p>
      </div>
    </div>
  </div>
</div>
